.title {
  text-align: center;
}
#onAir {
  display: inline;
}
.on__air {
  color: rgb(255, 111, 34);
}
footer {
  text-align: center;
  font-size: 9pt;
  color: darkgrey;
}
#calendar #today {
  background-color: greenyellow;
}
#calendar .blank {
  background-color: darkgray;
}
#calendar th {
  cursor: pointer;
}
#calendar td {
  width: 3rem;
  height: 3rem;
  vertical-align: top;
}
#calendar thead td {
  vertical-align: middle;
  text-align: center;
}
#calendar td div {
  border: 1px solid darkgray;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  margin: 0.1rem;
}
#calendar tbody td:nth-child(7) {
  color: blue;
}
#calendar tbody td:nth-child(1) {
  color: red;
}
#calenderBefore,
#calenderNext {
  user-select: none;
}
#calenderBefore:hover,
#calenderNext:hover {
  background-color: rgb(201, 243, 235);
}
#myCheckbox {
  width: 2rem;
  height: 2rem;
}
#myCheckbox {
  border-radius: 50%;
  border: 1px solid #999;
  appearance: none;
}
#myCheckbox:checked {
  background-color: red;
}
#myCheckbox:focus {
  background-color: blue;
}
