.imgBox,
.popup {
  background-color: rgb(208, 208, 208);
  margin: 0 1rem;
  padding: 0.5rem;
  border: 1pt solid black;
  border-radius: 3px;
  float: left;
}
figure.imgBox {
  position: relative;
}
.imgBox > span {
  display: block;
}
.imgBox > img {
  width: 30vw;
}
figcaption.popup {
  background-color: rgb(218, 232, 91);
  position: absolute;
  box-shadow: 0 0 15px black;
  display: none;
}
.imgBox:hover figcaption.popup {
  position: absolute;
  top: 0;
  left: 130px;
  display: flex;
  flex-direction: column;
}
.container {
  background-color: #4ab2d6;
  width: 600px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}
.container:last-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container div {
  background-color: #80cfec;
  flex: 1 1 150px;
  margin: 3px;
  padding: 3px;
  text-align: center;
}
