.imgBox {
  background-color: rgb(208, 208, 208);
  margin: 0 1rem;
  padding: 0.5rem;
  border: 1pt solid black;
  border-radius: 3px;
  float: left;
}
.imgBox > span {
  display: block;
}
.imgBox > img {
  width: 30vw;
}
